.navbar > button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

#menu button {
  width: 100px;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  border-bottom-color: black;
}

.home > button {
  border-radius: 0px 10px 0px 0px;
}

.back > button {
  border-radius: 0px 0px 10px 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
/* ####################################################### */
