<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encomendas</title>
</head>
<body>
    <div class="navbar">
    <button onclick="menu.hidden^=1"> ☰ </button>
    <ul id="menu" hidden>
        <li>
            <form action="{{ url_for('logado') }}">
                <div class="home">
                    <button type="submit"> Home </button>
                </div>
            </form>
        </li>

        <li>
            <form action="{{ url_for('about') }}">
                <div class="about">
                    <button type="submit"> Sobre</button>
                </div>
            </form>
        </li>

        <li>
            <form action="{{ url_for('contact') }}">
                <div class="contact">
                    <button type="submit"> Contatos</button>
                </div>
            </form>
        </li>

        <li>
            <form action="{{ url_for('encomendas') }}">
                <div class="encomendas">
                    <button type="submit"> Encomendas</button>
                </div>
            </form>
        </li>

        <li>
            <form action="{{url_for('login') }}">
                <div class="container">
                    <button type="submit"> Voltar </button>
                </div>
            </form>
        </li>
    </ul>

    <h1>Terá um evento e deseja realizar uma encomenda? Está no lugar certo!</h1>
    <h2>Do que se trata a encomenda?</h2>

  </body>
</html>