<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Bem-vindo!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
</head>
<body>
    <h1>Bem-vindo de volta!</h1>
    <h2>No momento estamos abertos, confira as nossas opções disponíveis abaixo:</h2>
    <p>_____________________________________________________________________________________________________________</p>

<div class="navbar">
    <button onclick="menu.hidden^=1"> ☰ </button>
    <ul id="menu" hidden>
        <li>
            <form action="{{ url_for('logado') }}">
                <div class="home">
                    <button type="submit"> Home </button>
                </div>
            </form>
        </li>

        <li>
            <form action="{{ url_for('about') }}">
                <div class="about">
                    <button type="submit"> Sobre</button>
                </div>
            </form>
        </li>

        <li>
            <form action="{{ url_for('contact') }}">
                <div class="contact">
                    <button type="submit"> Contatos</button>
                </div>
            </form>
        </li>

        <li>
            <form action="{{ url_for('encomendas') }}">
                <div class="encomendas">
                    <button type="submit"> Encomendas</button>
                </div>
            </form>
        </li>

        <li>
            <form action="{{url_for('login') }}">
                <div class="container">
                    <button type="submit"> Voltar </button>
                </div>
            </form>
        </li>
    </ul>

    <h1> PRODUTOS </h1>
    <div class="container">
        <div class="texto">
            <h2>Produto 1 </h2>
            <p>Descrição 1</p>
        </div>

        <div class="texto">
            <h2>Produto 2</h2>
            <p>Descrição 2</p>
        </div>

        <div class="texto">
            <h2>Produto 3 </h2>
            <p>Descrição 3</p>
        </div>

        <div class="texto">
            <h2>Produto 4</h2>
            <p>Descrição 4</p>
        </div>
  </div>
</div>

</body>
</html>