<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Bem-vindo!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
</head>

<body>
    <h1>Bem-vindo de volta!</h1>
    <h2>No momento estamos abertos, confira as nossas opções disponíveis abaixo:</h2>
    <p>_____________________________________________________________________________________________________________</p>

    <div class="navbar">
        <button onclick="menu.hidden^=1"> ☰ </button>
        <ul id="menu" hidden>
            <li>
                <form action="{{ url_for('logado') }}">
                    <div class="home">
                        <button type="submit"> Home </button>
                    </div>
                </form>
            </li>

            <li>
                <form action="{{ url_for('about') }}">
                    <div class="about">
                        <button type="submit"> Sobre</button>
                    </div>
                </form>
            </li>

            <li>
                <form action="{{ url_for('contact') }}">
                    <div class="contact">
                        <button type="submit"> Contatos</button>
                    </div>
                </form>
            </li>

            <li>
                <form action="{{ url_for('encomendas') }}">
                    <div class="encomendas">
                        <button type="submit"> Encomendas</button>
                    </div>
                </form>
            </li>

            <li>
                <form action="{{url_for('login') }}">
                    <div class="back">
                        <button type="submit"> Voltar </button>
                    </div>
                </form>
            </li>
        </ul>

        <h1> PRODUTOS </h1>
        <div class="container">
            <div class="produto">
                <a href="">
                    <div class="cabecalho">
                        <h2>Produto 1 </h2>
                        <strong class="preco"> R$15 </strong>
                    </div>
                    <p>Descrição 1</p>
                </a>
            </div>


            <div class="produto">
                <a href="">
                    <div class="cabecalho">
                        <h2>Produto 2</h2>
                        <strong class="preco"> R$15 </strong>
                    </div>
                    <p>Descrição 2</p>
                </a>
            </div>

            <div class="produto">
                <a href="">
                    <div class="cabecalho">
                        <h2>Produto 3 </h2>
                        <strong class="preco"> R$15 </strong>
                    </div>
                    <p>Descrição 3</p>
                </a>
            </div>

            <div class="produto">
                <a href="">
                    <div class="cabecalho">
                        <h2>Produto 4</h2>
                        <strong class="preco"> R$15 </strong>
                    </div>
                    <p>Descrição 4</p>
                </a>
            </div>
        </div>
    </div>

    <!-- <h1>PRODUTOS</h1> -->
    <!-- <div class="container"> -->


    <!-- Produto 1 -->
    <!-- <a href="pagina1.html" class="produto-link">
                <div class="produto">
                    <img src="https://images.unsplash.com/photo-1598373182133-5f8f22d9c12b?auto=format&fit=crop&w=600&q=80" alt="Cookie">
                    <h2>Produto 1</h2>
                    <p>Descrição 1</p>
                </div>
            </a>

            <!-- Produto 2 -->
    <!-- <a href="pagina2.html" class="produto-link">
                <div class="produto">
                    <img src="https://www.triscele.com.br/fotografia-digital/fotografia-still" alt="Produto 2">
                    <h2>Produto 2</h2>
                    <p>Descrição 2</p>
                </div>
            </a>  -->



    <!-- Produto 3 -->
    <!-- <a href="pagina3.html" class="produto-link">
                <div class="produto">
                    <img src="https://www.triscele.com.br/fotografia-digital/fotografia-still" alt="Produto 3">
                    <h2>Produto 3</h2>
                    <p>Descrição 3</p>
                </div>
            </a>

            <!-- Produto 4 -->
    <!-- <a href="pagina4.html" class="produto-link">
                <div class="produto">
                    <img src="https://www.triscele.com.br/fotografia-digital/fotografia-still" alt="Produto 4">
                    <h2>Produto 4</h2>
                    <p>Descrição 4</p>
                </div>
            </a> -->

</body>

</html>